body {
    background-color: #F8F8F8;
    font-family: 'Fira Code', monospace;
    margin-top: 15px; 
}
header {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}

header > img {
    display: inline-block; 
    height: 50px;
    float: left;
}
header > nav {
    display: inline-block;
    float: right;
    margin-top: 12px; /* Galima ir calc(50px-24px)*/
}

nav > a {
    display: inline-block;
    float: left;
    line-height: 20px;
    font-size: 11px;
    color: #9F9F9F;
    text-decoration: none;
    border: 3px solid transparent;
    padding: 0px;
    margin-right: 8px;
    border-radius: 19px; /* px - min 0, max puse trumpiausios krastynes, % - max 50%*/
}

nav > a:last-of-type {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0px;
    border-color:  #9F9F9F;
    text-transform: uppercase;
}
body > main {
    display: inline-block;
    width: 800px;
    margin-top: 10px;
    margin-left: calc(50% - 400px);
}

main > div {
    display: inline-block;
    width: 31%;
    float: left;
    margin-top: 73px;
    margin-left: 3%;
    color:#9F9F9F;
}

div > p:nth-child(1) {
    display: inline-block;
    width: 100%;
    margin: 0%;
    font-size: 70px;
    line-height: 70px; 
}

div > p {
    display: inline-block;
    width: 100%;
    margin: 0%;
    font-size: 17px;
    line-height: 25px;
}

main > img {
    display: inline-block; /*Jei naudojamas float sio elemento nereikia */
    width: 345px;
    float: right;
    margin-right: 2%;
}